body{
margin:0;
font-family:Arial;
background:#6d856a;
color:#fff;
text-align:center;
}

/* SPLASH */

#intro-splash{
position:fixed;
inset:0;
background:black;
display:flex;
align-items:center;
justify-content:center;
flex-direction:column;
z-index:999;
transition:1s;
}

#intro-splash video{
width:100%;
height:100%;
object-fit:cover;
}

.splash-text{
position:absolute;
bottom:40px;
color:white;
font-size:18px;
}

/* SITE */

#site-content{
display:none;
}

/* HERO VIDEO */

.video-wrapper{
position:relative;
width:100%;
height:70vh;
overflow:hidden;
}

.video-wrapper video{
width:100%;
height:100%;
object-fit:cover;
}

.video-overlay{
position:absolute;
inset:0;
background:rgba(0,0,0,0.35);
}

.video-text{
position:absolute;
inset:0;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
z-index:2;
}

.names{
font-family:'Great Vibes',cursive;
font-size:60px;
}

.date{
margin-top:10px;
letter-spacing:4px;
}

/* FADE */

.video-fade-bottom{
position:absolute;
bottom:0;
left:0;
width:100%;
height:120px;
background:linear-gradient(to bottom,rgba(0,0,0,0),#6d856a);
}

/* FAMILY */

.family-section{
background:#f1ebdf;
color:#4B2E1E;
padding:50px 20px;
}

.family-title{
font-family:'Great Vibes';
font-size:32px;
margin-bottom:20px;
}

.parents-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:20px;
max-width:500px;
margin:auto;
}

.nasi{
margin-top:20px;
}

/* COUNTDOWN */

.countdown-section{
padding:60px 20px;
}

.countdown-container{
display:flex;
flex-direction:column;
align-items:center;
gap:30px;
}

.countdown{
display:flex;
gap:15px;
flex-wrap:wrap;
justify-content:center;
}

.countdown-box{
background:rgba(255,255,255,0.15);
padding:20px;
border-radius:10px;
min-width:70px;
}

.number{
font-size:28px;
font-weight:bold;
display:block;
}

.label{
font-size:12px;
}

/* ARTIFICII */

.fireworks-box{
display:none;
width:250px;
height:160px;
border-radius:10px;
overflow:hidden;
position:relative;
}

#final-message{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
}

/* LOCATII */

.locations-section{
background:#f1ebdf;
color:#4B2E1E;
padding:50px 20px;
}

.locations-container{
display:flex;
flex-direction:column;
gap:25px;
align-items:center;
}

.location-card{
background:white;
padding:20px;
border-radius:12px;
max-width:350px;
box-shadow:0 10px 20px rgba(0,0,0,0.15);
}

.location-title{
font-weight:bold;
margin-bottom:10px;
}

.map-container{
width:100%;
height:220px;
border-radius:10px;
overflow:hidden;
}

.map-container iframe{
width:100%;
height:100%;
border:0;
}
