/* GENERAL */

body{
margin:0;
font-family:Arial, sans-serif;
background:#ffffff;
color:#ffffff;
text-align:center;
}

/* SPLASH */

#intro-splash{
position:fixed;
inset:0;
background:black;
display:flex;
align-items:center;
justify-content:center;
z-index:999;
}

#intro-splash video{
width:100%;
height:100%;
object-fit:cover;
}

/* HERO */

.hero{
position:relative;
width:100%;
height:70vh;
overflow:hidden;
}

.hero video{
width:100%;
height:100%;
object-fit:cover;
}

.hero-text{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
color:white;
text-align:center;
}

.names{
font-family:'Great Vibes',cursive;
font-size:60px;
}

.date{
margin-top:10px;
letter-spacing:4px;
}

/* SECTIONS */

section{
max-width:900px;
margin:40px auto;
padding:50px 25px;
border-radius:25px;
}

/* FAMILY */

.family{
background:#f1ebdf;
color:#4B2E1E;
}

.family-title{
font-family:'Great Vibes',cursive;
font-size:32px;
margin-bottom:25px;
}

.parents{
display:grid;
grid-template-columns:1fr 1fr;
gap:20px;
max-width:500px;
margin:auto;
}

.nasi{
margin-top:30px;
}

/* COUNTDOWN */

.countdown-section{
background:#6d856a;
color:white;
}

.subtitle{
opacity:0.9;
margin-bottom:25px;
}

.countdown{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:15px;
}

.box{
background:rgba(255,255,255,0.2);
padding:18px;
border-radius:12px;
min-width:80px;
}

.number{
font-size:28px;
font-weight:bold;
display:block;
}

/* LOCATIONS */

.locations{
background:#f1ebdf;
color:#4B2E1E;
}

.cards{
display:flex;
flex-direction:column;
gap:25px;
align-items:center;
}

.card{
background:white;
padding:25px;
border-radius:15px;
max-width:350px;
box-shadow:0 10px 20px rgba(0,0,0,0.1);
}

.map{
width:100%;
height:220px;
border-radius:10px;
overflow:hidden;
margin-top:10px;
}

.map iframe{
width:100%;
height:100%;
border:0;
}

/* MOBILE */

@media(max-width:600px){

.names{
font-size:42px;
}

.parents{
grid-template-columns:1fr 1fr;
}

section{
margin:25px 15px;
padding:40px 20px;
}

}
